@charset "utf-8";

body {
  font-family: 'Raleway';
}

.title, .artcle, .nav {
  background-color: #f2f2f2;
}

.concept, .footer {
  background-color: #74cfae;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.header-contact, .content, .info, .news-font, footer {
  color: #fff;
}

/*header*/
.header {
  background-color: #fff;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 20;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.header-contact, .info {
  background-color: #74cfae;
  font-size: 12px;
}

.header-contact {
  padding: 14px 12px;
}

.header-contact, .artcle-content li, .info, .sns li {
  cursor: pointer;
  text-decoration: none;
  transition: .3s;
}

.header-contact:hover, .info:hover {
  color: #333;
}

/*title*/
.main {
  padding-top: 65px;
}

.title-inner {
  padding-top: 250px;
  padding-bottom: 250px;
}

h1 {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.title-text {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/*what we can do*/
.concept-content {
  display: flex;
}

.concept-img {
  margin-left: 100px;
}

.concept-inner {
  padding-top: 50px;
}

.content {
  margin-left: 150px;
}

.concept-title, .news-title {
  font-size: 24px;
}

.concept-text {
  margin-top: 35px;
  word-break: keep-all;
}

.text {
  font-size: 20px;
  font-family: 'Lato';
  font-weight: lighter;
  line-height: 28px;
}

/*article*/
.artcle-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.artcle-title {
  font-size: 24px;
  padding-bottom: 40px;
}

.artcle-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.artcle-content li {
  opacity: 0.7;
  z-index: 10;
}

.artcle-content li:hover {
  opacity: 1;
}

.artcle-content li:nth-child(n+4) {
  margin-top: 80px;
}

.caption {
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  white-space: nowrap;
}

.img-text {
  white-space: normal;
  width: 550px;
}

.info {
  align-items: top;
  margin-left: 90px;
  padding: 14px 20px;
}

/*our skills*/
.news {
  background-color:	#4e4e4e;
}

.news-inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.circle-content {
  margin-top: 60px;
}

.circle {
  color: white;
  display: inline-block;
  font-size: 16px;
  margin-left: 180px;
}

.circle:first-child {
  margin-left: 0;
}

.circle p {
  margin-top: 10px;
}

/*nav*/
.nav-inner {
  padding: 200px 0;
}

.sns {
  text-align: center;
}

.sns li {
  display: inline-block;
  padding: 20px 0;
  width: 185px;
}

.sns a {
  color: #74cfae;
}

.sns li:hover {
  background-color: white;
}

/*fooer*/
.footer-inner {
  float: right;
  padding: 20px 0 25px 0;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
